{% extends 'base.html.twig' %}

{% block title %}Bracket du Tournoi{% endblock %}

{% block body %}
    <h2>Bracket du tournoi {{ tournoi.nom }}</h2>
    
    <ul>
        {% for game in tournoi.games %}
            <li>
                {{ game.equipeA.nom }} vs {{ game.equipeB.nom }} - 
                Score: {{ game.scoreEquipeA|default('N/A') }} - {{ game.scoreEquipeB|default('N/A') }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
